body::after {
	content: "";
	// background-color: rgba(0, 0, 0, 0.5);
	background: rgba(196, 196, 196, 0.51);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background: #FFFFFF;
	box-shadow: 0px 13px 39px rgba(0, 0, 0, 0.25);
	padding: 65px 70px 75px 70px;
	width: 100%;
	max-width: 1263px;
	.lock & {
		visibility: visible;
	}
	.dark-theme & {
		background: #2D2D2D;
	}
	@media (max-width:rem(1679.98)) {
		max-width: 866px;
		padding: 30px;
	}
	// @media (max-width:rem(1199.98)) {
	// 	max-width: 736px;
	// 	padding: 23px 20px 20px 20px;
	// }
	@media (max-width:$tablet) {
		max-width: 566px;
		padding: 18px 15px;
	}
	@media (max-width:$mobile) {
		padding: 20px 10px 15px 10px;
	}
}
.popup {
	// .popup__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// padding: 0px 0px 60px 0px;
		// padding: 0px 0px 40px 0px;
		// @media (max-width:rem(1679.98)) {
		// 	// padding: 0px 0px 40px 0px;
		// 	padding: 0px 0px 30px 0px;
		// }
		// @media (max-width:$tablet) {
		// 	padding: 0px 0px 20px 0px;
		// }
	}
	// .popup__row-wrap
	&__row-wrap {
		display: flex;
		align-items: center;
		// padding: 5px 0px 35px 0px;
		// @media (max-width:rem(1679.98)) {
		// 	padding: 5px 0px 20px 0px;
		// }
	}
	// .popup__row-span
	&__row-span {
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		color: #FF8A00;
		margin-right: 23px;
		@media (max-width:rem(1679.98)) {
			font-size: 18px;
			line-height: 22px;
			margin-right: 17px;
		}
		@media (max-width:$mobile) {
			margin-right: 8px;
		}
	}
	// .popup__row-title
	&__row-title {
		text-transform: initial;
		// background: #f4f4f4;
		.dark-theme & {
			// background: #2D2D2D;
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 18px;
			line-height: 22px;
		}
		@media (max-width:$mobile) {
			font-size: 12px;
			line-height: 15px;
		}
	}
	// .popup__close
	&__close {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 57px;
		height: 57px;
		flex: 0 0 57px;
		border-radius: 50%;
		background: #DAE8ED;
		margin: 0px 0px 0px 20px;
		z-index: 3;
		.dark-theme & {
			background: #141414;
		}
		@media (max-width:rem(1679.98)) {
			width: 40px;
			height: 40px;
			flex: 0 0 40px;
			margin: 0px 0px 0px 15px;
		}
		@media (max-width:rem(1199.98)) {}
		@media (max-width:$tablet) {
		// 	width: 36px;
		// 	height: 36px;
		// 	flex: 0 0 36px;
		// 	margin: 0px 0px 0px 25px;
		}
		@media (max-width:$mobile) {
			margin: 10px auto 0px auto;
		}
	}
	// .popup__steps
	&__steps {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1 1 auto;
		&.hide {
			opacity: 0;
			visibility: hidden;
		}
		@media (max-width:$mobile) {
			flex-direction: column;
		}
	}
	// .popup__step
	&__step {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		height: 70px;
		transition: 0.5s;
		span {
			display: none;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 12px;
			line-height: 15px;
			height: 48px;
		}
		@media (max-width:$tablet) {
			// font-size: 9px;
			// line-height: 11px;
			height: 35px;
		}
		@media (max-width:$mobile) {
			width: 100%;
			height: 32px;
			position: relative;
			// font-size: 8px;
			// line-height: 10px;
			span {
				position: absolute;
				line-height: 32px;
				top: 0;
				left: 0;
				display: block;
				margin: 0px 0px 0px 14px;
			}
			&:not(:last-child) {
				margin: 0px 0px 5px 0px;
			}
			// &:nth-child(1),
			// &:nth-child(3) {
			// 	border: 1px solid #000000;
			// 	color: #424242;
			// }
			// &:nth-child(2) {
			// 	background: #465F65;
			// 	color: #FFFFFF;
			// }
			// .dark-theme & {
			// 	&:nth-child(1),
			// 	&:nth-child(3) {
			// 		border: 1px solid #A1A1A1;
			// 		color: #FFFFFF;
			// 	}
			// }
		}
	}
	// .popup__step-1
	&__step-1 {
		@media (min-width:$mobile) {
			background: #F8F8F8;
			color: #424242;
			-webkit-clip-path: polygon(0 50%, -0.8% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, -0.8% 100%);
			&.color {
				background: #465F65;
				color: #FFFFFF;
			}
			.dark-theme & {
				background: #414141;
				color: #FFFFFF;
			}
		}
		@media (max-width:$mobile) {
			border: 1px solid #000000;
			color: #424242;
			&.color {
				background: #465F65;
				color: #FFFFFF;
			}
			.dark-theme & {
				border: 1px solid #A1A1A1;
				color: #FFFFFF;
			}
		}
	}
	// .popup__step-2
	&__step-2 {
		@media (min-width:$mobile) {
			background: #F8F8F8;
			color: #424242;
			-webkit-clip-path: polygon(16px 50%, -0.8% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, -0.8% 100%);
			&.color {
				background: #465F65;
				color: #FFFFFF;
			}
			.dark-theme & {
				background: #465F65;
			}
		}
		@media (max-width:$mobile) {
			border: 1px solid #000000;
			color: #424242;
			&.color {
				background: #465F65;
				color: #FFFFFF;
			}
			.dark-theme & {
				border: 1px solid #A1A1A1;
				color: #FFFFFF;
			}
		}
	}
	// .popup__step-3
	&__step-3 {
		@media (min-width:$mobile) {
			background: #F8F8F8;
			color: #424242;
			-webkit-clip-path: polygon(16px 50%, -0.8% 0%, 100% 0%, 100% 50%, 100% 100%, -0.8% 100%);
			&.color {
				background: #465F65;
				color: #FFFFFF;
			}
			.dark-theme & {
				background: #414141;
				color: #FFFFFF;
			}
		}
		@media (max-width:$mobile) {
			border: 1px solid #000000;
			color: #424242;
			&.color {
				background: #465F65;
				color: #FFFFFF;
			}
			.dark-theme & {
				border: 1px solid #A1A1A1;
				color: #FFFFFF;
			}
		}
	}
	// .popup__button
	&__button {}
	// .popup__button-close
	&__button-close {
		width: 20px;
		height: 20px;
		@media (max-width:rem(1679.98)) {
			width: 10px;
			height: 10px;
		}
		@media (max-width:rem(1199.98)) {}
		@media (max-width:$tablet) {}
		@media (max-width:$mobile) {}
	}
	// .popup__form
	&__form {
		min-height: 585px;
		position: relative;
		overflow: hidden;
		@media (max-width:rem(1679.98)) {
			min-height: 425px;
		}
		// @media (max-width:rem(1199.98)) {
		// 	min-height: 348px;
		// }
		@media (max-width:$tablet) {
			min-height: 360px;
		}
		@media (max-width:$mobile) {
			// min-height: 468px;
			// min-height: 520px;
			min-height: 635px;
			padding: 20px 15px 10px 15px;
			.popup__close {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 0);
				margin: 0 auto 10px auto;
			}
		}
	}
	// .popup__form-step
	&__form-step {
		position: absolute;
		max-width: 1116px;
		width: 100%;
		// top: 200px;
		top: 160px;
		// left: 73px;
		transition: 0.5s;
		.tabs__top-row {
			padding: 0px 0px 18px 0px;
			position: relative;
		}
		@media (max-width:rem(1679.98)) {
			max-width: 800px;
			// top: 137px;
			top: 105px;
			// left: 50px;
			.tabs__top-row {
				padding: 0px 0px 13px 0px;
			}
		}
		@media (max-width:rem(1199.98)) {
			// max-width: 696px;
			top: 85px;
			// left: 20px;
		}
		@media (max-width:$tablet) {
			max-width: 533px;
			top: 67px;
			// left: 15px;
		}
		@media (max-width:$mobile) {
			max-width: 100%;
			top: 135px;
			padding: 0px 30px 0px 0px;
			.tabs__top-row {
				padding: 0px 0px 7px 0px;
			}
		}
	}
	// .popup__form-1
	&__form-1 {
		&.slide2 {
			left: -150%;
		}
		&.slide3 {
			left: 73px;
			@media (max-width:rem(1679.98)) {
				left: 35px;
				// left: 50px;
			}
			@media (max-width:rem(1199.98)) {
				left: 30px;
				// left: 20px;
			}
			@media (max-width:$tablet) {
				left: 15px;
			}
		}
	}
	// .popup__form-2
	&__form-2 {
		left: 150%;
		&.slide2 {
			left: 73px;
			@media (max-width:rem(1679.98)) {
				left: 35px;
				// left: 50px;
			}
			@media (max-width:rem(1199.98)) {
				left: 30px;
				// left: 20px;
			}
			@media (max-width:$tablet) {
				left: 15px;
			}
		}
		&.slide3 {
			left: 150%;
		}
		&.slide4 {
			left: -150%;
		}
	}
	// .popup__form-3
	&__form-3 {
		top: 73px;
		left: 150%;
		@media (max-width:rem(1679.98)) {
			top: 45px;
		}
		@media (max-width:rem(1199.98)) {
			top: 29px;
		}
		@media (max-width:$tablet) {
			top: 29px;
		}
		@media (max-width:$mobile) {
			top: 20px;
		}
		&.slide4 {
			left: 73px;
			@media (max-width:rem(1679.98)) {
				left: 35px;
				// left: 50px;
			}
			@media (max-width:rem(1199.98)) {
				left: 30px;
				// left: 20px;
			}
			@media (max-width:$tablet) {
				left: 15px;
			}
		}
		&.slide5 {
			// left: 150%;
		}
	}
	// .popup__body
	&__body {
		display: flex;
		align-items: start;
		justify-content: space-between;
		// padding: 0px 0px 45px 0px;
		padding: 0px 0px 43px 0px;
		@media (max-width:rem(1679.98)) {
			padding: 0px 0px 30px 0px;
		}
		@media (max-width:$tablet) {
			padding: 0px 0px 9px 0px;
		}
		@media (max-width:$mobile) {
			padding: 0px 0px 15px 0px;
			flex-direction: column;
		}
	}
	// .popup__body-step
	&__body-step {
		// display: none;
	}
	// .popup__date
	&__date {
		flex: 0 1 400px;
		// @media (max-width:rem(1679.98)) {
		// 	flex: 0 0 274px;
		// }
		@media (max-width:rem(1199.98)) {}
		@media (max-width:$tablet) {
			flex: 0 0 300px;
		}
		@media (max-width:$mobile) {
			flex: 0 1 auto;
			width: 100%;
		}
	}
	// .popup__descr
	&__descr {
		flex: 1 1 auto;
		margin: 0px 0px 0px 33px;
		@media (max-width:rem(1679.98)) {
			margin: 0px 0px 0px 22px;
		}
		@media (max-width:$tablet) {
			margin: 0px 0px 0px 5px;
		}
		@media (max-width:$mobile) {
			margin: 10px 0px 0px 0px;
			width: 100%;
		}
	}
	// .popup__textarea
	&__textarea {
		height: 134px;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 6px;
			height: 6px;
		}
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			background: #FF9A0A;
			border-radius: 25px;
		}
		@media (max-width:rem(1679.98)) {
			height: 92px;
			padding: 14px 20px;
			font-size: 12px;
			line-height: 12px;
		}
		@media (max-width:rem(1199.98)) {
			// font-size: 9px;
			// line-height: 11px;
		}
		@media (max-width:$tablet) {
			// font-size: 8px;
			// line-height: 10px;
			padding: 12px 18px;
		}
		@media (max-width:$mobile) {
			height: 60px;
			// font-size: 7px;
			// line-height: 9px;
			padding: 12px;
		}
	}
	// .popup__column
	&__column {
		&:not(:last-child) {
			margin: 0px 30px 0px 0px;
		}
		&:nth-child(1) {
			flex: 0 0 30%;
		}
		.tabs__top-row {
			padding: 0px 0px 30px 0px;
			@media (max-width:$mobile) {
				padding: 0px 0px 10px 0px;
			}
		}
		@media (max-width:$mobile) {
			&:nth-child(1) {
				flex: 0 1 auto;
				width: 100%;
			}
			&:not(:last-child) {
				margin: 0px 0px 15px 0px;
			}
		}
	}
	// .popup__body-step2
	&__body-step2 {
		padding: 0px 0px 80px 0px;
		.tabs__text {
			// position: absolute;
			// top: 0;
			// left: 38px;
			max-height: 100px;
			// overflow: auto;
		}
		.popup__column {
			&:not(:last-child) {
				margin: 0px 65px 0px 0px;
			}
		}
		@media (max-width:rem(1679.98)) {
			padding: 0px 0px 53px 0px;
			.popup__column {
				&:not(:last-child) {
					margin: 0px 46px 0px 0px;
				}
			}
		}
		@media (max-width:rem(1199.98)) {
			.popup__column {
				&:not(:last-child) {
					margin: 0px 34px 0px 0px;
				}
			}
		}
		@media (max-width:$tablet) {
			padding: 0px 0px 24px 0px;
		}
		@media (max-width:$mobile) {
			padding: 0px 0px 30px 0px;
			.popup__column {
				&:not(:last-child) {
					margin: 0px 0px 15px 0px;
				}
			}
		}
	}
	// .popup__column-radio
	&__column-radio {
		display: flex;
		align-items: start;
		justify-content: space-between;
		flex: 1 1 auto;
		@media (max-width:$mobile) {
			// flex-direction: column;
		}
	}
	// .popup__budget
	&__budget {
		margin: 0px 0px 32px 0px;
		@media (max-width:rem(1679.98)) {
			min-height: auto;
			height: 40px;
			font-size: 12px;
			line-height: 12px;
			padding: 13px 15px;
			margin: 0px 0px 10px 0px;
		}
		@media (max-width:$tablet) {
			height: 32px;
			// font-size: 9px;
			// line-height: 11px;
			padding: 9px 10px;
		}
		@media (max-width:$mobile) {
			// font-size: 7px;
			// line-height: 9px;
			// margin: 0px 0px 10px 0px;
		}
	}
	// .popup__buttons
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// position: absolute;
		// width: 100%;
		// max-width: 1116px;
		// bottom: -74px;
		// left: 73px;
		@media (max-width:$mobile) {
			flex-direction: column;
		}
	}
	// .popup__button
	&__button {
		width: max-content;
		min-width: 256px;
		height: 57px;
		&:nth-child(1) {
			.dark-theme & {
				background: #929292;
				color: #2D2D2D;
			}
		}
		@media (max-width:rem(1679.98)) {
			min-width: 175px;
			height: 38px;
			font-size: 14px;
			line-height: 12px;
		}
		@media (max-width:rem(1199.98)) {
			min-width: 155px;
			height: 36px;
		}
		@media (max-width:$tablet) {
			// min-width: 148px;
			min-width: 132px;
			height: 32px;
			// font-size: 9px;
			// line-height: 11px;
		}
		@media (max-width:$mobile) {
			width: 100%;
			min-width: auto;
			&:not(:last-child) {
				margin: 0px 0px 6px 0px;
			}
		}
	}
	// .popup__button-prev
	&__button-prev {
		color: #FFFFFF;
		background: #929292;
		border: none !important;
		&:hover {
			background: #aeaeae;
			text-shadow: none !important;
			border: none !important;
		}
	}
	// .popup__button-cancel
	&__button-cancel {
		color: #FFFFFF;
		background: #929292;
		border: none !important;
		&:hover {
			background: #aeaeae;
			text-shadow: none !important;
			border: none !important;
		}
	}
	// .popup__button-next
	&__button-next {}
	// .popup__content-map
	&__content-map {
		padding: 45px 48px 43px 48px;
		max-width: 893px;
		@media (max-width:rem(1679.98)) {
			padding: 34px 28px 32px 28px;
			max-width: 680px;
		}
		@media (max-width:rem(1199.98)) {}
		@media (max-width:$tablet) {
			padding: 20px 18px;
			max-width: 566px;
		}
		@media (max-width:$mobile) {
			padding: 15px 15px 10px 15px;
		}
		.map__image {
			height: 330px;
			// @media (max-width:rem(1679.98)) {
			// 	height: 277px;
			// }
			// @media (max-width:rem(1199.98)) {}
			// @media (max-width:$tablet) {
			// 	height: 200px;
			// }
			@media (max-width:$mobile) {
				// height: 265px;
				height: 445px;
			}
		}
		.popup__row {
			padding: 0px 0px 26px 0px;
			@media (max-width:rem(1679.98)) {
				padding: 0px 0px 20px 0px;
			}
			@media (max-width:rem(1199.98)) {}
			@media (max-width:$tablet) {
				padding: 0px 0px 10px 0px;
			}
			@media (max-width:$mobile) {
				padding: 0px 0px 7px 0px;
			}
		}
	}
	// .popup__map
	&__map {
		padding: 0px 0px 27px 0px;
		@media (max-width:rem(1679.98)) {
			padding: 0px 0px 20px 0px;
		}
		@media (max-width:rem(1199.98)) {}
		@media (max-width:$tablet) {
			padding: 0px 0px 18px 0px;
		}
		@media (max-width:$mobile) {
			padding: 0px 0px 9px 0px;
		}
	}
	// .popup__row-category
	&__row-category {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 2;
		padding: 24px 50px 18px 40px;
		background: #FFFFFF;
		.dark-theme & {
			background: #2D2D2D;
		}
		@media (max-width:rem(1679.98)) {
			padding: 20px 30px 15px 30px;
		}
		@media (max-width:$tablet) {
			padding: 12px 20px 10px 30px;
			height: 60px;
		}
		@media (max-width:$mobile) {
			// padding: 0px 0px 0px 0px;
		}
	}
	//  .popup__content-category
	&__content-category {
		background: #f4f4f4;
		max-width: 893px;
		padding: 0px 0px 0px 0px !important;
		@media (max-width:rem(1679.98)) {
			max-width: 681px;
		}
		@media (max-width:rem(1199.98)) {}
		@media (max-width:$tablet) {
			max-width: 566px;
		}
		@media (max-width:$mobile) {
			.popup__close {
				margin: 10px auto;
			}
		}
	}
}
.upload-file {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #4F4F4F;
	background: #FFF3E4;
	padding: 14px 20px 14px 28px;
	margin: 10px 0px 0px 0px;
	.dark-theme & {
		background: #141414;
		color: #A1A1A1;
	}
	@media (max-width:rem(1679.98)) {
		padding: 10px 14px 10px 18px;
		margin: 6px 0px 0px 0px;
	}
	@media (max-width:$tablet) {
		padding: 8px 12px 8px 18px;
	}
	@media (max-width:$mobile) {
		padding: 8px 12px;
		margin: 8px 0px 0px 0px;
	}
	// .upload-file__icon
	&__icon {
		&::before {
			font-size: 27px;
			color: #5D5D5D;
			margin-right: 25px;
		}
		@media (max-width:rem(1679.98)) {
			&::before {
				font-size: 18px;
				margin-right: 18px;
			}
		}
		@media (max-width:$tablet) {
			&::before {
				font-size: 15px;
				margin-right: 15px;
			}
		}
		@media (max-width:$mobile) {
			&::before {
				font-size: 16px;
				margin-right: 5px;
			}
		}
	}
	// .upload-file__text
	&__text {
		font-size: 12px;
		line-height: 15px;
		margin-right: 30px;
		@media (max-width:rem(1679.98)) {
			// font-size: 9px;
			// line-height: 11px;
			margin-right: 15px;
		}
		@media (max-width:rem(1199.98)) {
			// font-size: 9px;
			// line-height: 11px;
		}
		@media (max-width:$tablet) {
			font-size: 10px;
			line-height: 10px;
		}
		@media (max-width:$mobile) {
			// font-size: 9px;
			// line-height: 11px;
		}
	}
	// .upload-file__input-body
	&__input-body {}
	// .upload-file__input
	&__input {
		opacity: 0;
		position: absolute;
		z-index: -1;
		overflow: hidden;
		width: 0.4px !important;
		height: 0.4px;
	}
	// .upload-file__label
	&__label {
		display: flex;
		align-items: center;
		justify-content: center;
		width: max-content;
		min-width: 115px;
		height: 39px;
		border: 1px solid #414141;
		cursor: pointer;
		outline: none;
		&:hover {
			text-shadow: 0.6px 0 0 #4F4F4F;
		}
		.dark-theme & {
			border: 1px solid #FFFFFF;
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			min-width: 88px;
			height: 27px;
			// font-size: 9px;
			// line-height: 11px;
		}
		@media (max-width:$tablet) {
			min-width: 85px;
			height: 23px;
			font-size: 12px;
			line-height: 12px;
		}
	}
	// .upload-file__label-text
	&__label-text {
		overflow: hidden;
		white-space: nowrap;
		text-align: end;
		max-width: 105px;
		padding: 0 5px;
		@media (max-width:$tablet) {
			max-width: 170px;
		}
		@media (max-width:$mobile) {
			max-width: 100%;
		}
		@media (max-width:$mobileSmall) {
			max-width: 170px;
		}
	}
}
.radio {
	&:not(:last-child) {
		margin: 0px 30px 0px 0px;
	}
	@media (max-width:$mobile) {
		&:not(:last-child) {
			margin: 0px 15px 0px 0px;
		}
	}
	// .radio__title
	&__title {
		text-transform: initial;
		padding: 0px 0px 22px 0px;
		.dark-theme & {
			color: #C6C6C6;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 14px;
			line-height: 13px;
			padding: 0px 0px 15px 0px;
		}
		@media (max-width:$tablet) {
			// font-size: 9px;
			// line-height: 11px;
			padding: 0px 0px 12px 0px;
		}
		@media (max-width:$mobile) {
			padding: 0px 0px 8px 0px;
		}
	}
	// .radio__item
	&__item {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
			@media (max-width:rem(1679.98)) {
				margin: 0px 0px 10px 0px;
			}
			@media (max-width:rem(1199.98)) {}
			@media (max-width:$tablet) {}
			@media (max-width:$mobile) {}
		}
	}
	// .radio__input
	&__input {
		min-height: 0;
		width: auto;
		padding: 0px 0px 0px 0px;
	}
	// .radio__label
	&__label {}
	// .radio__label-text
	&__label-text {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		font-size: 16px;
		line-height: 16px;
		color: #000000;
		// &._icon-star {
		// 	&::before {
		// 		color: #FF8A00;
		// 	}
		// }
		// &._icon-attention {
		// 	&::before {
		// 		color: #C4C4C4;
		// 	}
		// }
		.dark-theme & {
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 14px;
			line-height: 14px;
		}
		@media (max-width:rem(1199.98)) {}
		@media (max-width:$tablet) {
			font-size: 12px;
			line-height: 12px;
		}
		@media (max-width:$mobile) {
			// font-size: 7px;
			// line-height: 7px;
		}
	}
	// .radio__label-icon
	&__label-icon {
		&::before {
			margin-left: 10px;
			color: #C4C4C4;
			transition: color 0.2s ease-in-out;
			cursor: pointer;
		}
		&._icon-star {
			&::before {
				color: #FF8A00;
			}
		}
		&.color {
			&::before {
				color: #FF8A00;
			}
		}
		&.grey {
			&::before {
				color: #C4C4C4;
			}
		}
		@media (max-width:rem(1679.98)) {
			&::before {
				margin-left: 5px;
			}
		}
	}
}
.successfully {
	// .successfully__title
	&__title {
		// font-size: 2px;
		padding: 0px 0px 24px 0px;
		.dark-theme & {
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 16px;
			line-height: 20px;
			padding: 0px 0px 16px 0px;
		}
		@media (max-width:rem(1199.98)) {
			font-size: 14px;
			line-height: 17px;
		}
		@media (max-width:$tablet) {
			// font-size: 11px;
			// line-height: 13px;
			padding: 0px 0px 10px 0px;
		}
		@media (max-width:$mobile) {
			// font-size: 10px;
			// line-height: 12px;
		}
	}
	// .successfully__text
	&__text {
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		color: #424242;
		.dark-theme & {
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 16px;
			line-height: 20px;
		}
		@media (max-width:rem(1199.98)) {
			font-size: 12px;
			line-height: 15px;
		}
		// @media (max-width:$tablet) {
		// 	font-size: 9px;
		// 	line-height: 11px;
		// }
		// @media (max-width:$mobile) {
		// 	font-size: 10px;
		// 	line-height: 12px;
		// }
	}
	// .successfully__body
	&__body {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		padding: 23px 0px 40px 0px;
		@media (max-width:rem(1679.98)) {
			padding: 20px 0px 30px 0px;

		}
		@media (max-width:rem(1199.98)) {
			padding: 18px 0px 42px 0px;

		}
		@media (max-width:$tablet) {
			padding: 10px 0px 28px 0px;

		}
		@media (max-width:$mobile) {
			flex-direction: column;
			// padding: 13px 0px 23px 0px;
			padding: 13px 0px 40px 0px;

		}
	}
	// .successfully__info
	&__info {
		// flex: 0 1 67%;
		flex: 0 1 90%;
		background: #FFF3E4;
		padding: 30px 40px 25px 40px;
		margin: 0px 30px 0px 0px;
		.dark-theme & {
			background: #141414;
		}
		@media (max-width:rem(1679.98)) {
			flex: 0 1 83%;
			padding: 20px 33px 17px 33px;
		}
		@media (max-width:rem(1199.98)) {
			flex: 0 1 77%;
			padding: 20px 20px 17px 20px;
			margin: 0px 25px 0px 0px;
		}
		@media (max-width:$tablet) {
			flex: 0 1 100%;
			padding: 8px 17px;
			margin: 0px 20px 0px 0px;
		}
		@media (max-width:$mobile) {
			padding: 10px 13px;
			// margin: 0px 0px 15px 0px;
			margin: 0px 0px 23px 0px;
			flex: 0 1 auto;
			width: 100%;
		}
	}
	// .successfully__info-text
	&__info-text {
		font-weight: 700;
		font-size: 18px;
		line-height: 37px;
		color: #424242;
		.dark-theme & {
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 12px;
			line-height: 15px;
		}
		// @media (max-width:rem(1199.98)) {
			// font-size: 11px;
			// line-height: 15px;
		// }
		@media (max-width:$tablet) {
			line-height: 18px;
		}
	}
	// .successfully__sms
	&__sms {
		flex: 0 1 auto;
		@media (max-width:$mobile) {
			width: 100%;
		}
	}
	// .successfully__sms-text
	&__sms-text {
		font-size: 18px;
		line-height: 22px;
		font-weight: 500;
		color: #424242;
		padding: 0px 0px 25px 0px;
		.dark-theme & {
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 12px;
			line-height: 15px;
			padding: 0px 0px 17px 0px;
		}
		@media (max-width:rem(1199.98)) {
			// font-size: 11px;
			// line-height: 13px;
			// padding: 0px 0px 13px 0px;
		}
		@media (max-width:$tablet) {
			// font-size: 9px;
			// line-height: 11px;
			// font-size: 11px;
			// line-height: 13px;
			padding: 0px 0px 13px 0px;
		}
		// @media (max-width:$mobile) {
		// 	font-size: 10px;
		// 	line-height: 12px;
		// }
	}
	// .successfully__sms-code
	&__sms-code {
		height: 57px;
		min-height: auto;
		letter-spacing: 50px; // 09.08.2023
		text-align: left; // 09.08.2023
		text-indent: 40px; // 09.08.2023
		font-weight: bold;
		font-size: 35px;
		@media (max-width:rem(1679.98)) {
			text-indent: 27px; // 09.08.2023
			letter-spacing: 35px; // 09.08.2023
		}
		&::placeholder {
			font-size: 80px;
			color: #DBDBDB;
			letter-spacing: 3px; // 09.08.2023
			text-align: center;
			text-indent: 4px; // 09.08.2023
		}
		@media (max-width:rem(1679.98)) {
			padding: 5px;
			height: 40px;
			font-size: 20px;
			line-height: 12px;
			padding: 13px 15px;
			&::placeholder {
				font-size: 50px;
			}
		}
		@media (max-width:$tablet) {
			height: 32px;
			font-size: 16px;
			// line-height: 11px;
			padding: 9px 10px;
			text-indent: 20px; // 09.08.2023
			letter-spacing: 25px; // 09.08.2023
			&::placeholder {
				font-size: 40px;
			}
		}
		// @media (max-width:$mobile) {
		// 	font-size: 7px;
		// 	line-height: 9px;
		// }
	}
	// .successfully__button
	&__button {
		margin: 25px 0px 0px 0px;
		height: 57px;
		min-height: auto;
		@media (max-width:rem(1679.98)) {
			margin: 15px 0px 0px 0px;
			height: 38px;
		}
		@media (max-width:$tablet) {
			height: 32px;
		}
	}
	// .successfully__footer
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid #A2A2A2;
		padding: 30px 0px 20px 0px;
		@media (max-width:rem(1679.98)) {
			padding: 20px 0px 10px 0px;
		}
		@media (max-width:$tablet) {
			padding: 30px 0px 10px 0px;
		}
		@media (max-width:$mobile) {
			.popup__button-prev {
				order: 2;
			}
			flex-direction: column;
			// padding: 15px 0px 10px 0px;
			padding: 30px 0px 10px 0px;
		}
	}
	// .successfully__social
	&__social {
		flex: 0 1 33%;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 20px;
		color: #424242;
		margin: 0px 20px 0px 0px;
	
		&_viber{}
		&::before {
			font-size: 28px;
			color: #3A94D5;
			margin-right: 28px;
		}
		.dark-theme & {
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 11px;
			line-height: 13px;
			margin: 0px 15px 0px 0px;
			&::before {
				font-size: 20px;
				margin-right: 20px;
			}
		}
		@media (max-width:rem(1199.98)) {
			font-size: 12px;
			line-height: 12px;
		}
		@media (max-width:$tablet) {
			// font-size: 8.5px;
			// line-height: 10px;
			&::before {
				font-size: 16px;
				margin-right: 16px;
			}
		}
		@media (max-width:$mobile) {
			flex: 0 1 auto;
			width: 100%;
			// font-size: 10px;
			// line-height: 12px;
			// margin: 0px 0px 12px 0px;
			margin: 0px 0px 30px 0px;
			order: 0;
			&::before {
				font-size: 18px;
				margin-right: 9px;
			}
		}
	}
	// .successfully__footer-input
	&__footer-input {
		// flex: 0 1 32%;
		// margin: 0px 50px 0px 0px;
		// height: 57px;
		// min-height: auto;
		// @media (max-width:rem(1679.98)) {
		// 	padding: 5px;
		// 	height: 38px;
		// 	font-size: 10px;
		// 	line-height: 12px;
		// 	padding: 13px 15px;
		// 	margin: 0px 35px 0px 0px;
		// }
		// @media (max-width:rem(1199.98)) {
		// 	margin: 0px 25px 0px 0px;
		// }
		// @media (max-width:$tablet) {
		// 	height: 32px;
		// 	margin: 0px 20px 0px 0px;
		// 	font-size: 9px;
		// 	line-height: 11px;
		// 	padding: 9px 10px;
		// }
		// @media (max-width:$mobile) {
		// 	margin: 0px 0px 7px 0px;
		// 	flex: 0 1 auto;
		// 	width: 100%;
		// 	font-size: 7px;
		// 	line-height: 9px;
		// }
	}
	// .successfully__footer-button
	&__footer-button {
		flex: 0 1 28%;
		height: 57px;
		border: 1px solid #000000 !important;
		.dark-theme & {
			border: 1px solid #FFFFFF !important;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 12px;
			line-height: 12px;
			height: 38px;
		}
		@media (max-width:rem(1199.98)) {}
		@media (max-width:$tablet) {
			height: 32px;
			// font-size: 8.5px;
			// line-height: 10px;
		}
		@media (max-width:$mobile) {
			flex: 0 1 auto;
			width: 100%;
			// font-size: 9px;
			// line-height: 11px;
			order: 3;
		}
	}
}
.tabs__row-map {
	flex: 1 1 auto;
	margin-bottom: 0 !important;
	margin-right: 35px;
	@media (max-width:rem(1679.98)) {
		margin-right: 14px;
	}
	@media (max-width:$tablet) {
		margin-right: 0;
	}
	@media (max-width:$mobile) {
		.tabs__dropdown-button {
			border: 1px solid #4E4C4C;
			margin-right: 8px;
		}
		._icon-location {
			border: 1px solid #4E4C4C !important;
		}
	}
}
.category-popup {
	background: #f4f4f4;
	padding: 50px 50px 70px 35px;
	margin: -2px 0px 0px 0px;
	position: relative;
	z-index: 1;
	top: -1px;
	.dark-theme & {
		background: #2D2D2D;
	}
	@media (max-width:rem(1679.98)) {
		padding: 38px 20px 42px 30px;
	}
	@media (max-width:$tablet) {
		padding: 26px 13px 30px 30px;
	}
	@media (max-width:$mobile) {
		padding: 10px 15px 15px 15px;
	}
	// .category-popup__wrap
	&__wrap {
		// overflow: auto;
		// height: 405px;
		// padding: 0px 20px 0px 0px;
		// &::-webkit-scrollbar {
		// 	display: none;
		// }
		// &::-webkit-scrollbar-track {
		// 	// background-color: #000000;
		// }
		// &::-webkit-scrollbar-corner {
		// 	// background-color: #000000;
		// }
		// &::-webkit-scrollbar-thumb {
		// 	// background-color: #000000;
		// 	// background: #FF9A0A;
		// 	// border-radius: 25px;
		// }
		// @media (max-width:rem(1679.98)) {
		// 	max-height: 307px;
		// }
		// @media (max-width:rem(1199.98)) {}
		// @media (max-width:$tablet) {
		// 	max-height: 245px;
		// }
		// @media (max-width:$mobile) {
		// 	max-height: 307px;
		// }
	}
	// .category-popup__slider
	&__slider {
		// height: 100%;
		// overflow: auto !important;
		max-height: 395px;
		// max-height: 368px;
		// &::-webkit-scrollbar {
		// 	display: none;
		// }

		@media (max-width:rem(1679.98)) {
			max-height: 340px;
		}
		@media (max-width:rem(1199.98)) {}
		@media (max-width:$tablet) {
			max-height: 320px;
		}
		@media (max-width:$mobile) {
			max-height: 360px;
		}
	}
	// .category-popup__wrapper
	&__wrapper {
		// height: 405px;
		// overflow: auto !important;
	}
	// .category-popup__slide
	&__slide {}
	// .category-popup__items
	&__items {
		margin: 0px 0px 70px 0px;
		@media (max-width:rem(1679.98)) {
			margin: 0px 0px 60px 0px;
		}
		@media (max-width:$tablet) {
			margin: 0px 0px 40px 0px;
		}
	}
	// .category-popup__wrap
	&__wrap {
		opacity: 0;
		width: 0;
		height: 0;
	}
	// .category-popup__wrap
	&__wrap {
		display: flex;
		align-items: center;
		// padding: 5px 0px 35px 0px;
		// @media (max-width:rem(1679.98)) {
		// 	padding: 5px 0px 20px 0px;
		// }
	}
	// .category-popup__span
	&__span {
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		color: #FF8A00;
		margin-right: 23px;
		@media (max-width:rem(1679.98)) {
			margin-right: 17px;
			font-size: 18px;
			line-height: 22px;
		}
		@media (max-width:$mobile) {
			margin-right: 8px;
		}
	}
	// .category-popup__title
	&__title {
		// position: sticky;
		// top: 0;
		// right: 0;
		// opacity: 0;
		// height: 0;
		text-transform: initial;
		// background: #f4f4f4;
		// padding: 5px 0px 35px 0px;
		.dark-theme & {
			// background: #2D2D2D;
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 18px;
			line-height: 22px;
			// padding: 5px 0px 20px 0px;
		}
		@media (max-width:$mobile) {
			font-size: 12px;
			line-height: 15px;
		}
	}
	// .category-popup__list
	&__list {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;
		column-gap: 27px;
		row-gap: 35px;
		margin: 0px 78px 0px 0px;
		@media (max-width:rem(1679.98)) {
			column-gap: 20px;
			// row-gap: 30px;
			row-gap: 25px;
		}
		@media (max-width:$tablet) {
			column-gap: 14px;
			row-gap: 10px;
			margin: 0px 70px 0px 0px;
		}
		@media (max-width:$mobile) {
			column-gap: 10px;
			row-gap: 15px;
		}
	}
	// .category-popup__item
	&__item {
		display: flex;
		flex-direction: column;
		text-align: center;
		// flex: 0 1 18%;
		width: 17%;
		@media (max-width:rem(1679.98)) {
			// width: 18%;
		}
		@media (max-width:rem(1199.98)) {}
		@media (max-width:$tablet) {
			// flex: 0 1 22%;
			width: 22%;
		}
		@media (max-width:$mobile) {
			// flex: 0 1 30%;
			width: 30%;
		}
		@media (max-width:$mobileSmall) {
			// flex: 0 1 30%;
			width: 47%;
		}
		
	}
	// .category-popup__image
	&__image {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: 100%;
		height: 70px;
		padding: 0px 10px;
		flex: 1 1 auto;
		img {
			// width: auto;
			width: 100%;
			height: 70px;
			object-fit: contain;
			object-position: bottom;
		}
		@media (max-width:rem(1679.98)) {
			height: 54px;
			img {
				height: 54px;
			}
		}
		@media (max-width:rem(1199.98)) {}
		@media (max-width:$tablet) {}
		@media (max-width:$mobile) {
			height: 44px;
			img {
				height: 44px;
			}
		}
		@media (max-width:$mobileSmall) {
			height: 30px;
			img {
				height: 30px;
			}
		}
	}
	// .category-popup__image-1
	&__image-1 {
		img {
			// height: 42px;
		}
	}
	// .category-popup__image-2
	&__image-2 {
		img {
			// height: 54px;
		}
	}
	// .category-popup__name
	&__name {
		font-size: 12px;
		line-height: 11px;
		color: #000000;
		padding: 20px 0px 10px 0px;
		.dark-theme & {
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			// font-size: 6px;
			// line-height: 7px;
			padding: 15px 0px 10px 0px;
		}
		@media (max-width:$mobile) {
			padding: 13px 0px 6px 0px;
		}
	}
	// .category-popup__select
	&__select {
		font-size: 12px;
		line-height: 11px;
		min-height: auto;
		height: 38px;
		@media (max-width:rem(1679.98)) {
			// font-size: 8px;
			// line-height: 10px;
			height: 28px;
		}
		// @media (max-width:$mobile) {
		// 	font-size: 7px;
		// 	line-height: 9px;
		// 	height: 23px;
		// }
	}
}
.login-popup {
	// max-width: 893px;
	max-width: 500px;
	height: 700px;
	padding: 0px 0px 0px 0px;
	&.popup__content {
		max-width: 500px;
		padding: 0;
			@media (max-width:rem(1679.98)) {
				max-width: 500px;
				padding: 0;
	}
			max-width: 500px;
			@media (max-width:$tablet) {
				max-width: 500px;
				padding: 0;
	}
	}
	@media (max-width:rem(1679.98)) {
		// max-width: 680px;
		height: 600px;
	}
	@media (max-width:$tablet) {
		height: 510px;
		// max-width: 566px;
	}
	@media (max-width:$mobile) {
		// height: 470px;
		// max-width: 566px;
	}
	// .login-popup__tabs
	&__tabs {
		height: 100%;
		position: relative;
	}
	&__tel-input {
		// display: flex;
		display: none;
		button {
			max-width: 110px;
		}
		& > div {
			width: 100%;
		}
	}
	&__tel-auth {
		margin-top: auto;
		overflow: hidden;
		width: 100%;
	
	}
	&__tel-auth-wrapper {
		width: 100%;
		transition: all .3s ease;
		& > * {
			min-width: 100%;
		}
	}
	&__tel-number {
		font-size: 16px;
		@media (max-width:$mobileSmall) {
			font-size: 14px;
		}
	}
	&__tel-info {
		margin-top: 15px;
	}
	&__repeat {
		margin-top: 17px;
		font-size: 13px;
	}
	&__auth-result {
		font-size: 17px;
		font-weight: bold;

		#auth-error-message {
			color: #940000;
			display: none;
			max-height: 20px;
			@media (max-width:$mobile) {
				text-align: center;
			}
		}
		#auth-error-message{
			flex-direction: column;
			// align-items: center;
			row-gap: 15px;
		}
	
	}
	#auth-success-message {
		color: #009407;
		display: none;
		font-size: 17px;
		font-weight: bold;
		margin-bottom: 80px;
		text-align: center;
		max-height: 20px;
		@media (max-width:$mobile) {
			text-align: center;
		}
	}
	#auth-code-again {
		display: none;
		margin-top: 18px;
		color: $orangeColor;
		text-decoration: underline;
		@media (any-hover: hover) {
		  &:hover {
			 color: #2D2D2D;
			 .dark-theme & {
				color: #fff;
			 }
		  }
		}
	}
	#tel-auth-input {
		font-size: 16px;
		@media (max-width:$mobile) {
				padding: 0px 10px !important;
		}
	}
	#tel-auth-code-confirm{
		height: 42px;
	}
	#tel-auth-code-input {
		@media (max-width:rem(1679.98)) {
			width: 270px;
			margin: 0 auto;
			height: 50px;
			font-size: 28px;
			padding: 10px 22px;

		}
			@media (max-width:$tablet) {
				padding: 10px 45px;
		}
	}
	&__code-title {
		font-size: 16px;
		margin-bottom: 15px;
		max-width: 100%;
		white-space: wrap;
	}
	&__code {
		display: none;
	}
	// .login-popup__navigation
	&__navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .login-popup__title
	&__title {
		padding: 30px 10px;
		display: flex;
		white-space: nowrap;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		width: 100%;
		height: 83px;
		font-size: 20px;
		line-height: 29px;
		text-transform: uppercase;
		color: #4F4F4F;
		transition: all 0.2s ease-in-out;
		border-bottom: 0.95px solid #A2A2A2;
		&._tab-active {
			font-weight: 700;
			border-bottom: 6px solid #FF9A0A;
		}
		&:not(._tab-active) {
			&:hover {
				text-shadow: 0.6px 0 0 #4F4F4F;
			}
		}
		.dark-theme & {
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 18px;
			line-height: 22px;
			height: 61px;
			border-bottom: 0.8px solid #A2A2A2;
			&._tab-active {
				border-bottom: 4px solid #FF9A0A;
			}
		}
		@media (max-width:$tablet) {
			// font-size: 14px;
			line-height: 17px;
			height: 54px;
			&._tab-active {
				border-bottom: 3.4px solid #FF9A0A;
			}
		}
		@media (max-width:$mobile) {
			font-size: 12px;
			line-height: 13px;
			height: 37px;
		}
	}
	// .login-popup__content
	&__content {
		height: 100%;
	}
	// .login-popup__body
	&__body {
		height: 100%;
	}
	// login-popup__wrapper
	&__wrapper {
		height: 87%;
		display: flex;
		align-items: start;
		justify-content: center;
		padding: 45px 70px 70px 65px;
		.dark-theme & {
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			padding: 35px 50px 45px 50px;
		}
		@media (max-width:$tablet) {
			flex-direction: column;
			padding: 20px 40px 30px 40px;
		}
		@media (max-width:$mobileSmall) {
			padding: 15px 15px 18px 15px;
		}
	}
	// .login-popup__column
	&__column {
		// width: 47%;
		height: 100%;
		display: flex;
		flex-direction: column;
		width: 100%;
		@media (max-width:$tablet) {
			width: 100%;
			&:not(:last-child) {
				margin: 0px 0px 30px 0px;
			}
		}
	}
	// .login-popup__row
	&__row {
		display: flex;
		align-items: center;
		padding: 24px 0px 22px 0px;
		@media (max-width:rem(1679.98)) {
			align-items: start;
			flex-direction: column;
			padding: 18px 0px;
		}
		@media (max-width:$tablet) {
			padding: 16px 0px 10px 0px;
		}
		@media (max-width:$mobile) {
			padding: 10px 0px;
		}
	}
	// .login-popup__row-text
	&__row-text {
		padding: 0px 10px 0px 0px;
		@media (max-width:rem(1679.98)) {
			font-size: 14px;
			line-height: 14px;
			padding: 0px 5px 0px 0px;
			margin-bottom: 10px;
		}
		// @media (max-width:$tablet) {
		// 	font-size: 10px;
		// 	line-height: 12px;
		// }
	}
	// .login-popup__radio
	&__radio {
		display: flex;
		align-items: center;
	}
	// .login-popup__login-email
	&__login-email {}
	// .login-popup__login-tel
	&__login-tel {}
	// .login-popup__input
	&__input {
		font-size: 14px;
		line-height: 17px;
		color: #4F4F4F;
		padding: 15px 25px;
		min-height: auto;
		height: 57px;
		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
		@media (max-width:rem(1679.98)) {
			// font-size: 10px;
			// line-height: 12px;
			padding: 10px 18px;
			height: 38px;
		}
		@media (max-width:rem(1199.98)) {
			padding: 10px;
			height: 36px;
		}
		@media (max-width:$tablet) {
			// font-size: 9px;
			// line-height: 11px;
			height: 32px;
			&:not(:last-child) {
				margin: 0px 0px 15px 0px;
			}
		}
		@media (max-width:$mobile) {
			&:not(:last-child) {
				margin: 0px 0px -1px 0px;
			}
		}
	}
	// .login-popup__input-wrap
	&__input-wrap {
		// margin: 0px 0px 20px 0px;
		// @media (max-width:$tablet) {
		// 	margin: 0px 0px 15px 0px;
		// }
		// @media (max-width:$mobile) {
		// 	margin: 0px 0px -1px 0px;
		// }
	}
	// .login-popup__input-tel
	&__input-tel {
		// display: none;
	}
	// .login-popup__tel-login
	&__tel-login {
		display: none;
	}
	// .login-popup__tel-sign
	&__tel-sign {
		display: none;
	}
	// .login-popup__input-body
	&__input-body {
		position: relative;
	}
	// .login-popup__viewpass
	&__viewpass {
		position: absolute;
		top: 0;
		right: 20px;
		&::before {
			font-size: 15px;
			line-height: 57px;
			color: #4E4C4C;
		}
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 20px;
			height: 1.5px;
			border-radius: 5px;
			// top: 0;
			// left: 0;
			background: #4E4C4C;
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s ease-in-out;
		}
		&._viewpass-active {
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
		.dark-theme & {
			&::before {
				color: #FFFFFF;
			}
		}
		@media (max-width:rem(1679.98)) {
			right: 13px;
			&::before {
				font-size: 11px;
				line-height: 38px;
			}
			&::after {
				width: 16px;
				height: 1px;
			}
		}
		@media (max-width:rem(1199.98)) {
			&::before {
				line-height: 36px;
			}
		}
		@media (max-width:$tablet) {
			right: 10px;
			&::before {
				font-size: 9px;
				line-height: 32px;
			}
			&::after {
				width: 11px;
			}
		}
		@media (max-width:$mobile) {
			right: 8px;
		}
	}
	// .login-popup__check
	&__check {
		display: flex;
		align-items: center;
		position: relative;
		@media (max-width:$mobile) {
			margin: 12px 0px 0px 0px;
		}
	}
	// .login-popup__checkbox-input
	&__checkbox-input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:hover+.login-popup__checkbox-label {
			border: 1px solid #FF8A00;
		}
		// &:checked+.login-popup__checkbox-label {
		// 	border: 1px solid #FF8A00;
		// }
		&:checked+.login-popup__checkbox-label:before {
			@extend %ic;
			content: "\e908";
			margin-top: 2px;
			font-size: 13px;
			color: #FF8A00;
			@media (max-width:rem(1679.98)) {
				font-size: 10px;
			}
			@media (max-width:$tablet) {
				font-size: 8px;
			}
		}
	}
	// .login-popup__checkbox-label
	&__checkbox-label {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin-right: 15px;
		flex: 0 0 21px;
		width: 21px;
		height: 21px;
		border: 1px solid #8A8A8A;
		transition: 0.5s;
		@media (max-width:rem(1679.98)) {
			margin-right: 12px;
			flex: 0 0 16px;
			width: 16px;
			height: 16px;
		}
		@media (max-width:$tablet) {
			margin-right: 10px;
			flex: 0 0 13.5px;
			width: 13.5px;
			height: 13.5px;
		}
	}
	// .login-popup__checkbox-text
	&__checkbox-text {
		font-size: 16px;
		line-height: 16px;
		color: #000000;
		.dark-theme & {
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 14px;
			line-height: 14px;
		}
		// @media (max-width:$tablet) {
		// 	font-size: 10px;
		// 	line-height: 10px;
		// }
	}
	// login-popup__title-first
	&__title-first {
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		text-transform: initial;
		.dark-theme & {
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 18px;
			line-height: 22px;
		}
		@media (max-width:$tablet) {
			font-size: 14px;
			line-height: 17px;
		}
		@media (max-width:$mobile) {
			// font-size: 10px;
			// line-height: 12px;
			text-align: center;
		}
	}
	// .login-popup__title-second
	&__title-second {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #424242;
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 15px;
		padding: 0px 0px 32px 0px;
		.dark-theme & {
			color: #FFFFFF;
		}
		p {
				white-space: nowrap;
		}
		
		@media (max-width:rem(1679.98)) {
			font-size: 14px;
			line-height: 17px;
			padding: 0px 0px 24px 0px;
		}
		@media (max-width:$tablet) {
			// font-size: 12px;
			// line-height: 15px;
			padding: 0px 0px 20px 0px;
		}
		@media (max-width:$mobile) {
			// font-size: 10px;
			// line-height: 12px;
			text-align: center;
		}
	}
	&__social-wrapper {
	
		& > p {
			margin-bottom: 10px;
			@media (max-width:$mobileSmall) {
				font-size: 12px;
			}
			
		}

	}
	// .login-popup__social
	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		height: 55px;
		width: 100%;
		border: 1px solid rgba(0, 0, 0, 0.25);
		transition: all 0.2s ease-in-out;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0.03em;
		color: #000000;
		&_telegram{
			background-color: #039be5;
			border: 0 !important;
			color: #fff;
			.dark-theme & {
				color: #2D2D2D;
			}
		}
		&_viber{
			background-color: #6f3faa;
			border: 0 !important;
			color: #fff;
			.dark-theme & {
				color: #2D2D2D;
			}
		}
		// filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
		&:hover {
			border: 3px solid #FF8A00;
		}
		.dark-theme & {
			border: 1px solid #A2A2A2;
			color: #FFFFFF;
		}
		@media (max-width:rem(1679.98)) {
			height: 42px;
			// font-size: 11px;
			line-height: 16px;
			&:not(:last-child) {
				margin: 0px 0px 15px 0px;
			}
		}
		@media (max-width:$tablet) {
			// font-size: 10px;
			// line-height: 15px;
			height: 36px;
			border: 0.8px solid rgba(0, 0, 0, 0.25);
			&:not(:last-child) {
				margin: 0px 0px 12px 0px;
			}
			&:hover {
				border: 2.8px solid #FF8A00;
			}
		}
		@media (max-width:$mobile) {
			height: 32px;
			&:not(:last-child) {
				margin: 0px 0px 4px 0px;
			}
		}
	}
	// .login-popup__icon
	&__icon {
		margin: 0px 10px 0px 0px;
		img {
			width: 29px;
			height: 29px;
			object-fit: contain;
		}
		@media (max-width:rem(1679.98)) {
			margin: 0px 7px 0px 0px;
			img {
				width: 22px;
				height: 22px;
			}
		}
		@media (max-width:$tablet) {
			// img {
			// 	width: 18.5px;
			// 	height: 18.5px;
			// }
		}
	}
	// .login-popup__sign-email
	&__sign-email {}
	// .login-popup__sign-tel
	&__sign-tel {}
	// .login-popup__buttons
	&__buttons {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0px 20px 20px 0px;
		button {
			width: 40px;
			height: 40px;
		}
		@media (max-width:rem(1679.98)) {
			// padding: 0px 50px 45px 0px;
		}
		@media (max-width:$tablet) {
			position: relative;
			margin: 0px auto 10px auto;
			padding: 0px;
			.popup__close {
				margin: 10px auto 0px auto;
			}
		}
		// @media (max-width:$mobile) {
		// 	padding: 0px 0px 0px 0px;
		// }
		// display: flex;
		// align-items: center;
		// justify-content: space-between;
		// padding: 0px 70px 65px 65px;
		// @media (max-width:rem(1679.98)) {
		// 	padding: 0px 50px 45px 50px;
		// }
		// @media (max-width:$tablet) {
		// 	padding: 0px 40px 27px 40px;
		// }
		// @media (max-width:$mobile) {
		// 	padding: 0px 70px 65px 65px;
		// }
	}
	// .login-popup__buttons-login
	&__buttons-login {
		display: flex;
		align-items: center;
		padding: 35px 0px 0px 0px;
		@media (max-width:rem(1679.98)) {
			padding: 25px 0px 0px 0px;
		}
		@media (max-width:$tablet) {
			padding: 15px 0px 0px 0px;
		}
		@media (max-width:$tablet) {
			flex-direction: column;
		}
	}
	// .login-popup__button
	&__button {
		width: auto;
		min-width: 150px;
		min-height: auto;
		height: 57px;
		&:not(:last-child) {
			margin: 0px 54px 0px 0px;
		}
		@media (max-width:rem(1679.98)) {
			font-size: 14px;
			line-height: 12px;
			min-width: 115px;
			height: 38px;
			&:not(:last-child) {
				margin: 0px 40px 0px 0px;
			}
		}
		@media (max-width:rem(1199.98)) {
			height: 36px;
		}
		@media (max-width:$tablet) {
			// font-size: 9px;
			// line-height: 11px;
			min-width: 95px;
			height: 32px;
			&:not(:last-child) {
				margin: 0px 35px 0px 0px;
			}
		}
		@media (max-width:$mobile) {
			width: 100%;
			min-width: auto;
			&:not(:last-child) {
				margin: 0px 0px 15px 0px;
			}
		}
	}
	// .login-popup__button-forgot
	&__button-forgot {
		color: #E25D00;
		&:hover {
			text-shadow: 0.6px 0 0 #E25D00;
		}
		// .dark-theme & {
		// 	color: #FFFFFF;
		// 	&:hover {
		// 		text-shadow: 0.6px 0 0 #FFFFFF;
		// 	}
		// }
		// @media (max-width:rem(1679.98)) {
		// 	font-size: 10px;
		// 	line-height: 10px;
		// }
		// @media (max-width:$tablet) {
		// 	font-size: 9px;
		// 	line-height: 9px;
		// }
	}
}
.popup-success {
	z-index: 999;
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: #0000007c;
	display: none;
	&.is-open {
		display: block;
	}
	&__wrapper {
		width: 100%;
		height: 100%;
		padding: 0 15px;
		display: grid;
		place-content: center;
	}
	&__content {
		background-color: #fff;
		box-shadow: 0px 13px 39px rgba(0, 0, 0, 0.25);
		padding: 30px;
		.dark-theme & {
			background: #2D2D2D;
		}
	}
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
	&__title {
		text-align: center;
		color: $blackColor;
		font-size: 20px;
	}
	&__check {
		width: 50px;
		stroke: $orangeColor;
		height: 50px;
	}
	&__button {
		margin-top: 20px;
		display: block;
		padding: 10px 15px;
		@media (max-width:rem(1679.98)) {
			padding: 10px 15px !important;
		}
	}
}





/*
  popup-add
*/
.popup-add {
	position: fixed;
	inset: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #00000094;
	&.is-open {
		display: block;
	}
	&__wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__content {
		min-height: 460px;
		width: 100%;
		display: flex;
		flex-direction: column;
		max-width: 880px;
		background-color: #fff;
		padding: 20px;
		.dark-theme & {
			background-color: #2D2D2D;
		}
	}
	&__header {
		width: 100%;
	}
	&__body {
		margin: 20px 0;
		overflow: hidden;
		flex-grow: 1;
	}
	&__inner {
		display: flex;
		gap: 30px;
		width: 100%;
		transform: translateX(calc(0));
		transition: all .3s ease;
	}
	&__slide {
		width: 100%;
		min-width: 100%;
		color: #fff;
		&_row {
			display: flex;
			gap: 30px;
		}
		&_column {
			display: flex;
			flex-direction: column;
			justify-content: start;
			gap: 30px;
		}
	}
	&__categories {
		position: relative;
		z-index: 100;
	}
	&__footer {}
	&__buttons {}
	&__button {
		&_prev {
			border: transparent !important;
		}
		&_next {}
	}

}

